In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')

In [11]:
state = {'Day':[1,2,3,4,5,6],
        'Visitors':[43,55,324,84,89,19],
        'Bounce_rate':[55,70,84,45,50,70]}

### Convert into DataFrame

In [13]:
state_df = pd.DataFrame(state)
state_df

   Day  Visitors  Bounce_rate
0    1        43           55
1    2        55           70
2    3       324           84
3    4        84           45
4    5        89           50
5    6        19           70

In [14]:
state_df.head()

   Day  Visitors  Bounce_rate
0    1        43           55
1    2        55           70
2    3       324           84
3    4        84           45
4    5        89           50

In [15]:
state_df.head(2)

   Day  Visitors  Bounce_rate
0    1        43           55
1    2        55           70

In [16]:
state_df.tail()

   Day  Visitors  Bounce_rate
1    2        55           70
2    3       324           84
3    4        84           45
4    5        89           50
5    6        19           70

In [18]:
state_df.tail(2)

   Day  Visitors  Bounce_rate
4    5        89           50
5    6        19           70

In [19]:
state_df

   Day  Visitors  Bounce_rate
0    1        43           55
1    2        55           70
2    3       324           84
3    4        84           45
4    5        89           50
5    6        19           70

In [20]:
state_df.set_index('Day')

     Visitors  Bounce_rate
Day
1          43           55
2          55           70
3         324           84
4          84           45
5          89           50
6          19           70

In [21]:
state_df

   Day  Visitors  Bounce_rate
0    1        43           55
1    2        55           70
2    3       324           84
3    4        84           45
4    5        89           50
5    6        19           70

In [22]:
state_df.set_index('Day', inplace=True)

In [23]:
state_df

     Visitors  Bounce_rate
Day
1          43           55
2          55           70
3         324           84
4          84           45
5          89           50
6          19           70

In [24]:
state_df['Visitors']

Day
1     43
2     55
3    324
4     84
5     89
6     19
Name: Visitors, dtype: int64

In [25]:
state_df['Visitors'].tolist()
# you can convert 1 column to list but not more than one.

[43, 55, 324, 84, 89, 19]

In [26]:
state_df[['Visitors','Bounce_rate']].tolist()

AttributeError: 'DataFrame' object has no attribute 'tolist'

## To convert two or more columns in list, we need to use numpy

In [28]:
np.array(state_df[['Bounce_rate', 'Visitors']])

array([[ 55,  43],
       [ 70,  55],
       [ 84, 324],
       [ 45,  84],
       [ 50,  89],
       [ 70,  19]])

In [29]:
df2 = pd.DataFrame(np.array(state_df[['Bounce_rate', 'Visitors']]))
df2

    0    1
0  55   43
1  70   55
2  84  324
3  45   84
4  50   89
5  70   19